<div>
  <div class="container">
    <img src="../../../assets/Logo-footer.svg" alt="">
    <div class="link-container">
      <div class="link-content">
        <h6>Product</h6>
        <ul>
          <li>Overview</li>
          <li>Features</li>
          <li>Tutorials</li>
          <li>Pricing</li>
          <li>Releases</li>
        </ul>
      </div>
      <div class="link-content">
        <h6>Company</h6>
        <ul>
          <li>About</li>
          <li>Press</li>
          <li>Careers</li>
          <li>Contact</li>
          <li>Partners</li>
        </ul>
      </div>
      <div class="link-content">
        <h6>Support</h6>
        <ul>
          <li>Help Center</li>
          <li>Terms of service</li>
          <li>Legal</li>
          <li>ConPrivacy Policy</li>
          <li>Status</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="media-links">
    <div>
      <p class="copyright">© 2021 Lawliet. All rights reserved</p>
    </div>
    <div class="social-links">
      <img src="../../../assets/instagram.svg" alt=""><img src="../../../assets/other.svg" alt=""><img src="../../../assets/twiter.svg" alt=""><img src="../../../assets/youtube.svg" alt="">
    </div>
  </div>
</div>