<div class="achievements-container">
  <div class="heading-container">
    <h1 class="title">Some count that matters</h1>
    <p class="description">Our achievement in the journey depicted in numbers</p>
  </div>
  <div class="achievements-counts">
    <div class="counts-container bd-right">
      <span class="count">30</span>
      <p class="count-para">Clients</p>
    </div>
    <div class="counts-container">
      <span class="count">300+</span>
      <p class="count-para">Taken business legalities</p>
    </div>
    <div class="counts-container bd-left">
      <span class="count">8</span>
      <p class="count-para">Years of Journey</p>
    </div>
  </div>
</div>