<div>
  <h1 class="title">Clients Testimonial</h1>
  <div class="testimonial-container">
    <div class="container">
      <div class="testimonial-container__content">
        <p class="testimonial-title">Incredible Experience</p>
        <p class="testimonial-content">We had an incredible experience working with Landify and were impressed they made such a big difference in
          only
          three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get
          familiar
          with the concept so quickly.</p>
      </div>
      <div class="review">
        <img src="../../../assets/client.svg" alt="icon">
        <div>
          <p class="user-name">Anya Tailor Joy</p>
          <p class="user-status">CEO, SF Industires</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="testimonial-container__content">
        <p class="testimonial-title">Dependable, Responsive, Professional Partner</p>
        <p class="testimonial-content">Fermin Apps has collaborated with Landify team for several projects such as Photo Sharing Apps and Custom
          Social Networking Apps. The experience has been pleasant, professional and exceeding our expectations. </p>
      </div>

      <div class="review">
        <img src="../../../assets/client.svg" alt="icon">
        <div>
          <p class="user-name">Sri Alam</p>
          <p class="user-status">CEO, Membagongkan GROUP</p>
        </div>
      </div>
    </div>

  </div>
</div>