<div class="content-container">
  <h1 class="title">
    Why do we help <br> with legalization?
  </h1>
  <p class="description">We are here for UMKM in Indonesia <br> to carry out the legalization process,<br> which is sometimes
    complicated.</p>
</div>
<div class="card-container">
  <div class="card">
    <img src="../../../assets/Circle Layer.svg" alt="">
    <h1 class="card-title">Enviromental Law</h1>
    <p>Environmental legal issues <br> might occur since the planned business activities are <br> designed</p>
  </div>
  <div class="card">
    <img src="../../../assets/Bag.svg" alt="">
    <h1 class="card-title">Corporate and Commercial</h1>
    <p>We provide a complete range <br> of services for the continuity <br> of your business activities.</p>
  </div>
  <div class="card">
    <img src="../../../assets/Rocket.svg" alt="">
    <h1 class="card-title">Information and Technology</h1>
    <p>IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty.</p>
  </div>
  <div class="card">
    <img src="../../../assets/User Arrows.svg" alt="">
    <h1 class="card-title">Other Services</h1>
    <p>In dealing with disruptive economic and legal challenge, our firm also provide various <br> legal services.</p>
  </div>
</div>